<div>
  <h2 id="page-heading" data-cy="RuoloHeading">
    <span jhiTranslate="iblPortalApp.ruolo.home.title">Ruolos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="iblPortalApp.ruolo.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ruolo"
        [routerLink]="['/ruolo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="iblPortalApp.ruolo.home.createLabel">Genera un nuovo Ruolo</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="iblPortalApp.ruolo.home.search">Cerca Ruolo</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'iblPortalApp.ruolo.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (ruolos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="iblPortalApp.ruolo.home.notFound">No Ruolos found</span>
    </div>
  }

  @if (ruolos && ruolos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="iblPortalApp.ruolo.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="created">
              <div class="d-flex">
                <span jhiTranslate="iblPortalApp.ruolo.created">Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="modified">
              <div class="d-flex">
                <span jhiTranslate="iblPortalApp.ruolo.modified">Modified</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomeAzione">
              <div class="d-flex">
                <span jhiTranslate="iblPortalApp.ruolo.nomeAzione">Nome Azione</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="azioni.id">
              <div class="d-flex">
                <span jhiTranslate="iblPortalApp.ruolo.azioni">Azioni</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ruolo of ruolos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ruolo', ruolo.id, 'view']">{{ ruolo.id }}</a>
              </td>
              <td>{{ ruolo.created | formatMediumDate }}</td>
              <td>{{ ruolo.modified | formatMediumDate }}</td>
              <td>{{ ruolo.nomeAzione }}</td>
              <td>
                @if (ruolo.azioni) {
                  <div>
                    <a [routerLink]="['/azione', ruolo.azioni.id, 'view']">{{ ruolo.azioni.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/ruolo', ruolo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizza</span>
                  </a>

                  <a [routerLink]="['/ruolo', ruolo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Modifica</span>
                  </a>

                  <button type="submit" (click)="delete(ruolo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Elimina</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
